*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}
.main{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}